.button {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    opacity: 0.8;
}

#container {
    margin-top: 3rem;
}

.row1, .row2 {
    display: flex;
    justify-content: center;
}

.button {
    margin: .25rem;
}

.button:hover {
    opacity: 1;
}

.active {
    animation: blinky .5s;
    animation-timing-function: ease;
}

@keyframes blinky {
    0% {
        opacity: .8;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

/*.active {*/
/*    opacity: .2;*/
/*    transition-duration: .3s;*/
/*}*/

.red {
    background: darkred;
    border-top-left-radius: 2rem;
}

.green {
    background: seagreen;
    border-top-right-radius: 2rem;
}

.blue {
    background: midnightblue;
    border-bottom-left-radius: 2rem;
}

.yellow {
    background: orange;
    border-bottom-right-radius: 2rem;
}